{% extends 'base.html' %}
{% block title %}
{{ forum.title }}
{% endblock %}
{% block content %}

<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'forums_home' %}">Forums</a></li>
    <li class="breadcrumb-item active">{{ forum.title }}</li>
  </ol>
</nav>

<h1>{{ forum.title }}</h1>
<p>{{ forum.description }}</p>

<a class="btn btn-primary" href="{% url 'threads_create' forum.id %}">New Thread</a>
<hr>

<h2>Threads</h2>
<div class="list-group">
{% for thread in forum.thread_set.all %}
  <a class="list-group-item list-group-item-action"  href="{% url 'threads_detail' thread.id %}">
    <span class="text-primary">{{ thread.title }}</span>
    <br>
    <small>created by <b>{{ thread.author.username }}</b> on {{ thread.created }}</small>
  </a>
{% empty %}
  Nothing here...
{% endfor %}
</div>

{% endblock %}
