{% extends 'base.html' %}
{% block title %}
New Thread
{% endblock %}
{% block content %}

{% load bootstrap4 %}

<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'forums_home' %}">Forums</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'forums_detail' forum.id %}">{{ forum.title }}</a>
    </li>
    <li class="breadcrumb-item active">
      New Thread
    </li>
  </ol>
</nav>

<h1>New Thread</h1>

<form action="" method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  <button class="btn btn-primary" type="submit">Create Thread</button>
</form>

{% endblock %}
