{% extends 'base.html' %}
{% block title %}
{{ thread.title }}
{% endblock %}
{% block content %}

{% load bootstrap4 %}

<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'forums_home' %}">Forums</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'forums_detail' thread.forum.id %}">{{ thread.forum.title }}</a>
    </li>
    <li class="breadcrumb-item active">
      {{ thread.title }}
    </li>
  </ol>
</nav>

<small>created by <b>{{ thread.author.username }}</b> on {{ thread.created }}</small>
<h1>{{ thread.title }}</h1>
<a class="" href="{% url 'posts_create' thread.id %}">New Reply</a>
{% if user.is_authenticated and thread.author == user %}
<a class="text-danger float-right" href="{% url 'threads_delete' thread.id %}">Delete Thread</a>
{% endif %}

<hr>


{% for post in thread.post_set.all %}
<div>
  <div class="card mb-2">
    <div class="card-header">
      <a name="post{{ post.position }}">#{{ post.position }}</a>:
      <b>{{ post.author.username }}</b>
      {% if post.reply_to %}
      in reply to <a class="badge badge-pill badge-primary" 
                     href="#post{{ post.reply_to.position }}">#{{ post.reply_to.position }}</a>
      {% endif %}
      posted on {{ post.created }}

      {% if user.is_authenticated and post.author == user %}
      <div class="float-right">
        <a class="badge badge-secondary" href="{% url 'posts_edit' post.id %}">edit</a>
        <a class="badge badge-warning" href="{% url 'posts_delete' post.id %}">delete</a>
      </div>
      {% else %}
      <div class="float-right">
        <a class="badge badge-primary" href="{% url 'posts_reply' thread.id post.id %}">reply</a>
      </div>
      {% endif %}
    </div>
    <div class="card-body">
      {{ post.text }}
    </div>
  </div>
</div>
{% empty %}
Nothing here...
{% endfor %}

<h5 class="mt-3">Quick Post:</h5>
<form action="{% url 'posts_create' thread.id %}" method="post">
  {% csrf_token %}
  {% bootstrap_field post_form.text show_label=False %}
  <input class="btn btn-primary float-right" type="submit" value="Post">
</form>

{% endblock %}
