{% extends 'base.html' %}
{% block title %}
Edit Stop
{% endblock %}
{% block content %}

{% load bootstrap4 %}
<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'walk_detail' stop.walk.id%}">{{stop.walk.title}}</a></li>
          <li class="breadcrumb-item"><a href="{% url 'stop_detail' stop.walk.id stop.id%}">{{stop.title}}</a></li>
          <li class="breadcrumb-item active">
            Update {{ stop.title }} in {{stop.walk.title}}
          </li>
        </ol>
      </nav>
</div>

<h1>Change Stop Details</h1>
<form method="post">{% csrf_token %}
    {% bootstrap_form form %}
    <input class="btn btn-primary" type="submit" value="Update Stop">
</form>

{% endblock %}
