{% extends 'base.html' %}
{% block title %}
Delete Stop
{% endblock %}
{% block content %}

{% load bootstrap4 %}

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'walk_detail' stop.walk.id%}">{{stop.walk.title}}</a></li>
          <li class="breadcrumb-item"><a href="{% url 'stop_detail' stop.walk.id stop.id%}">{{stop.title}}</a></li>
          <li class="breadcrumb-item active">
            Delete {{ stop.title }} in {{stop.walk.title}}
          </li>
        </ol>
      </nav>
</div>

<h1>Delete Stop</h1>
<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete " {{ stop.title }}"?</p>
    <input type="submit" value="Confirm">
</form>

{% endblock %}
