{% extends 'base.html' %}
{% block title %}
{{walk.title}}
{% endblock %}
{% block content %}
    
<h1 ><i>Walk:</i> {{walk.title}}</h1>
<div class="card p-3 mb-4 shadow text-dark bg-light text-center2 mt-4">
  <div class="card-body">
        <h4 class="d-inline">
            {% if walk.user == user or user.is_staff == True %}
            <div class="float-right">
                <a class="badge badge-secondary" href="{% url 'walk_edit' walk.id %}">EDIT</a>
                <a class="badge badge-warning" href="{% url 'walk_delete' walk.id %}">DELETE</a>
            </div>
            {% endif %}</h4>
        <h2>{{walk.description}}</h2>
    {% if walk.is_public == True %}
        {% if walk.description == "" %}
             <p class="text-right pt-5"> Public Walk by {{walk.user}}</p>
        {% else %}
            <p class="text-right p-3"> Public Walk by {{walk.user}}</p>
        {% endif %}
    {% else %}
        {% if walk.description == "" %}
            <p class="text-right pt-5"> Private Walk by {{walk.user}}</p>
        {% else %}
            <p class="text-right p-3"> Private Walk by {{walk.user}}</p>
        {% endif %}
    {% endif %}
  </div>
</div>

<h4>Stops on this Walk:</h4>
<hr>
<div class="list-group shadow-sm">
    {% for stop in walk.stop_set.all %}
    <a class="list-group-item list-group-item-action" href= "{% url 'stop_detail' stop.walk.id stop.id%}">
      <span class="h5">{{ stop.title }}</span><br>
        <small>{{ stop.description }}</small>
    </a>
    {% empty %}
    <div class="p-2">
    There are no stops...
    </div>
    {% endfor %}
</div>
    
    <div class="mt-2 float-left">
        {% if walk.comment_thread %}
        <a class="btn btn-info p-2" href="{% url 'threads_detail' walk.comment_thread.id %}">View Comments...</a>
        {% endif %}
        
        {% if user == walk.user or user.is_staff == True or walk.is_public == True%}
        <a href='/walks/{{walk.id}}/add_stop/'  class="btn btn-primary p-2">Create Stop</a>
        {% endif %}
    </div>
    {% endblock %}
    
