{% extends 'base.html' %}
{% block title %}
Walks
{% endblock %}
{% block content %}
<h1 class="title-caption">Walks</h1>
<hr>
<div class="list-group">
{% for walk in object_list %}
  {% if walk.is_public %} 
  <a class="list-group-item list-group-item-action" href= "{% url 'walk_detail' walk.id %}">
    <span class="h5 text-primary">{{ walk.title }}</span>
    <br>
    <small>{{ walk.description }}</small>
  </a>
  {% endif %}
  {% empty %}
  <li>No Walks Yet!</li>
  {% endfor %}
</div>
<a href="{% url 'create_walk' %}" class="btn btn-primary mt-3 float-right">Create Walk</a>
{% endblock %}
