{% extends 'base.html' %}
{% block title %}
Profile
{% endblock %}
{% block content %}
<h1>Walks</h1>
<ul class="list-group">
{% for walk in object_list %}
<li style="opacity:0.8" class="list-group-item">
    <a href= "{% url 'walk_detail' walk.id %}">
            {{ walk.title }} - {{ walk.description }}
        </a>
        {% if walk.user == user or user.is_staff == True %}
        <div class="float-right">
            <a class="badge badge-secondary" href="{% url 'walk_edit' walk.id %}">EDIT</a>
            <a class="badge badge-warning" href="{% url 'walk_delete' walk.id %}">DELETE</a>
        </div>
        {% endif %}
    </li>
{% empty %}
    <li>No Walks Yet!</li>
{% endfor %}
<a href="{% url 'create_walk' %}" class="btn btn-primary mt-3">Create Walk</a>
</ul>
{% endblock %}
