.h-55{
    height: 55vh!important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    filter: invert(1);
}

.image-caption{
    color:white;
    background-color: black;
    padding: 5px;
    border-radius: 3px;
    opacity: 0.8;
}

.delete-button{
    top: 0;
    right: 0;
    position: absolute;
    display: block;
    z-index: 100;
}
.img-thumbnail{
    max-width: 40vw;
    max-height: 40vh;
}
body{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}